<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Login</title>
</head>
<body>
<div sec:authorize="isAnonymous()">
  Login as <a th:href="@{/user}">List</a></div>
<div sec:authorize="isAuthenticated()">
  <div sec:authorize="hasRole('USER')">
    <a th:href="@{api/blogs/list}">List</a>
  </div>
  <div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{api/blog/list}">List</a>
  </div>
  <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>